.card {
  width: 405px;
  background-color: #282c34;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

img {
  width: 350px;
}

p {
  color: white;
  text-align: center;
}
