.App {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 5vh;
  align-items: center;
}

button {
  width: 100px;
  align-self: center;
  justify-self: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
